language: php

cache:
  apt: true

install:
   - free -m
   - sudo add-apt-repository ppa:webupd8team/java -y
   - sudo add-apt-repository ppa:fkrull/deadsnakes -y
   - sudo apt-get update
   - sudo apt-get install git npm curl wget php5-cli php5-curl unzip openjdk-7-jre-headless apache2 libapache2-mod-fastcgi python3.4 python3.4-dev libaspell-dev aspell-en aspell-fr oracle-java8-installer
   - sudo apt-get build-dep python3-numpy
   - wget https://bootstrap.pypa.io/get-pip.py
   - python3.4 -m pip install --user numpy
   - export PATH=$HOME/.local/bin:$PATH
   - python3.4 get-pip.py --user
   - sudo /etc/init.d/mysql stop
   - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
   - sudo sed -i "s/9000/8000/" ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
   - sudo a2enmod rewrite actions fastcgi alias proxy
   - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
   - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
   - phpenv config-rm xdebug.ini
   # configure apache virtual hosts
   - sudo cp -f travis-ci-apache /etc/apache2/sites-available/default
   - cat travis-ci-hosts | sudo tee -a /etc/hosts
   - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
   - sudo service apache2 restart
   - python3.4 -m pip install --user setuptools==9.1
   - python3.4 -m pip install --user gunicorn requests ppp_datamodel ppp_core jsonrpclib-pelix nltk
   - python3.4 -m nltk.downloader wordnet
   - free -m

before_script:
   - git clone https://github.com/ProjetPP/Deployment.git
   - sed -i "s#/home/ppp/#$HOME/#" Deployment/*.json
   - sed -i "s#localhost:8999#corenlp.backend.askplatyp.us#" Deployment/nlp_classical_config.json
   - sed -i "s#--upgrade##" Deployment/bootstrap_modules.sh
   - ./Deployment/bootstrap_corenlp.sh &
   - ./Deployment/bootstrap_modules.sh &
   - for job in `jobs -p`; do echo $job;     wait $job; done
   - pwd
   - ls
   - ls stanford*
   - pwd
   - ls "$(pwd)/PPP-Wikidata"
   - sudo service apache2 restart
   - ./Deployment/run_python.sh &
   - sleep 20
   - free -m
   - ps aux --sort -rss | cat

script:
   - pwd
   - python3.4 run_tests.py


after_failure:
   - ps aux --sort -rss | cat
