language: php

install:
   - sudo apt-get update
   - sudo apt-get install git npm curl wget php5-cli php5-curl unzip openjdk-7-jre-headless apache2 libapache2-mod-fastcgi python3
   - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
   - sudo a2enmod rewrite actions fastcgi alias
   - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
   - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
   # configure apache virtual hosts
   - sudo cp -f travis-ci-apache /etc/apache2/sites-available/default
   - cat travis-ci-hosts | sudo tee -a /etc/hosts
   - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)/PPP-Wikidata?g" --in-place /etc/apache2/sites-available/default
   - sudo service apache2 restart
   - wget https://bootstrap.pypa.io/get-pip.py
   - export PATH=$HOME/.local/bin:$PATH
   - python3 get-pip.py
   - pip3 install --user gunicorn requests ppp_datamodel ppp_core jsonrpclib-pelix nltk
   - python3 -m nltk.downloader wordnet

before_script:
   - git clone https://github.com/ProjetPP/Deployment.git
   - ./Deployment/bootstrap_corenlp.sh
   - ./Deployment/run_corenlp.sh &
   - ./Deployment/bootstrap_modules.sh
   - ./Deployment/run_python.sh &

script:
   - python3 run_tests.py
