language: php

cache:
  apt: true
  directories:
  - cache/

install:
   - free -m
   - mkdir -p cache/
   - sudo add-apt-repository ppa:webupd8team/java -y
   - sudo apt-get update
   - sudo apt-get install git npm curl wget php5-cli php5-curl unzip openjdk-7-jre-headless apache2 libapache2-mod-fastcgi python3 python3-dev libaspell-dev aspell-en aspell-fr python3-numpy oracle-java8-installer
   - sudo /etc/init.d/mysql stop
   - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
   - sudo sed -i "s/9000/8000/" ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
   - sudo a2enmod rewrite actions fastcgi alias proxy
   - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
   - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
   - phpenv config-rm xdebug.ini
   # configure apache virtual hosts
   - sudo cp -f travis-ci-apache /etc/apache2/sites-available/default
   - cat travis-ci-hosts | sudo tee -a /etc/hosts
   - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
   - sudo service apache2 restart
   - wget https://bootstrap.pypa.io/get-pip.py
   - export PATH=$HOME/.local/bin:$PATH
   - python3 get-pip.py --user
   - pip3 install --user setuptools==9.1
   - pip3 install --user gunicorn requests ppp_datamodel ppp_core jsonrpclib-pelix nltk
   - python3 -m nltk.downloader wordnet
   - free -m

before_script:
   - git clone https://github.com/ProjetPP/Deployment.git
   - sed -i "s#/home/ppp/#$HOME/#" Deployment/*.json
   - sed -i "s#--upgrade##" Deployment/bootstrap_modules.sh
   - cp cache/stanford-corenlp-full-2015-01-29.zip . || true
   - ./Deployment/bootstrap_corenlp.sh &
   - ./Deployment/bootstrap_modules.sh &
   - for job in `jobs -p`; do echo $job;     wait $job; done
   - pwd
   - ls
   - ls stanford*
   - echo "Ceci est un test." | /usr/lib/jvm/java-8-oracle/bin/java -classpath stanford-postagger-full-2014-10-26/stanford-postagger.jar edu.stanford.nlp.tagger.maxent.MaxentTagger -model stanford-postagger-full-2014-10-26/models/french.tagger
   - cp -u stanford-corenlp-full-2015-01-29.zip cache/
   - travis_retry ./Deployment/run_corenlp.sh &
   - pwd
   - ls "$(pwd)/PPP-Wikidata"
   - sudo service apache2 restart
   - ./Deployment/run_python.sh &
   - sleep 20
   - free -m
   - ps aux --sort -rss | cat

script:
   - pwd
   - python3 run_tests.py


after_failure:
   - ps aux --sort -rss | cat
